<style>
  #err-msg {
    color: red;
  }
</style>
<form id="signup">
  <p id="err-msg"></p>
  <label>username</label>
  <input name="username" />
  <br />
  <label>password</label>
  <input name="password" type="password" />
  <br />
  <input type="submit" />
</form>
<script>
  let signupForm = document.getElementById('signup');
  let errorMessageP = document.getElementById('err-msg');
  signupForm.addEventListener('submit', async event => {
    event.preventDefault();
    let formData = new FormData(signupForm);
    let res = await fetch('/signup', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        username: formData.get('username'),
        password: formData.get('password'),
      }),
    });
    let json = await res.json();
    console.log('signup result:', json);
    if (json.ok) {
      location.href = '/';
    } else {
      errorMessageP.textContent = json.errors.join(', ');
    }
  });
</script>
